# OS stuff
*.icloud
._*
.DS_Store
Thumbs.db
Desktop.ini
.Spotlight-V100
.Trashes

# IDE stuff
.idea/*
*.iml
*.ipr

ansible/.imported-roles
ansible/*.retry
*.iml

# Molecule test reports
molecule/**/reports/
