//registry.npmjs.org/:_authToken=7ea04504-ca4c-4ba4-957c-71b2a9d37c9f
strict-ssl=false
//registry=https://nexus.holisticon.de/repository/npm/
always-auth=true
email=dev@holisticon.de
_auth=bmV4dXMtaG9saXN0aWNvbjohYWlnaGllMm1lJjllamFoQw==
//registry=https://nexus.holisticon.de/repository/npm-private/
always-auth=true
email=dev@holisticon.de
_auth=bmV4dXMtaG9saXN0aWNvbjohYWlnaGllMm1lJjllamFoQw==
